{% extends 'common/base.html' %}
{% load static %}

{% block meta %}
    <title>DMS - Dashboard</title>
{% endblock meta %}

{% block datatable_css %}
    <link rel="stylesheet" href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}">
{% endblock datatable_css %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'assets/libs/select2/css/select2.min.css'%}">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">


    <style>
        .form-floating>.form-control, .form-floating>.form-select {
            height: calc(2.8rem + 1px) !important;
            padding: 1rem .75rem;
        }
        .form-floating>.textuti {
            height: calc(2.8rem + 30px) !important;
        }
        .select2
        {
            width: 100% !important;
        }
        .amsify-suggestags-list{
        z-index: 1 !important;
        width: 100% !important;
        }
        textarea,
        .textarea {
        min-height: inherit;
        height: auto;
        }
        .form-check
        {
            display: inline-block;
        }

        .dtr-title{
            font-weight: 600;
        }

        /** SPINNER CREATION **/

        .loader {
        position: relative;
        text-align: center;
        margin: 15px auto 35px auto;
        z-index: 9999;
        display: block;
        width: 80px;
        height: 80px;
        border: 10px solid rgba(0, 0, 0, .3);
        border-radius: 50%;
        border-top-color: #000;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
        }

        @keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
        }

        @-webkit-keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
        }
    </style>
{% endblock page_css %}

{% block content %}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item active">Bill Management</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Search File</h5>
                        
                        <form method="post" action="/billmgmt/bill_view/" id="s_bill_mgmt_form">
                            {% csrf_token %}
                            <div class="row">
                                <input type="hidden" name="roles" id="roles" value="">
                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="form-group mb-3">
                                        <label for="s_client_name" class="form-label" style="font-size: 11px;margin-bottom: 2px;">Client Name<sup class="text-danger"></sup></label>
                                        <select class="form-control select2" id="s_client_name" name="s_client_name">
                                            <option value="" selected disabled>Select Client Name</option>
                                        {%for cl in client_list%}
                                            <option value="{{cl.id}}">{{cl.client_name}}</option>
                                        {%endfor%}
                                        
                                        </select>
                                        <span class="text-danger error" id="esoerror"></span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="form-group mb-3">
                                        <label for="s_product_type" class="form-label" style="font-size: 11px;margin-bottom: 2px;">Product Type<sup class="text-danger"></sup></label>
                                        <select class="form-control select2" id="s_product_type"  name="s_product_type">
                                            <option value="" selected disabled>Select Product Type</option>
                                        {%for ptl in pro_typ_list%}
                                            <option value="{{ptl.id}}" data-product_type="{{ptl.product_type}}">{{ptl.product_type}}</option>
                                        {%endfor%}
                                        
                                        </select>
                                        <span class="text-danger error" id="esoerror"></span>
                                    </div>
                                </div>

                                <!-- Code For Product Name -->

                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="form-group mb-3">
                                        <label for="s_product_name" class="form-label" style="font-size: 11px;margin-bottom: 2px;">Product Name<sup class="text-danger"></sup></label>
                                        <select class="form-control select2" id="s_product_name"  name="s_product_name">
                                            <option value="" disabled>Select Product Name</option>
                                        </select>
                                        <span class="text-danger error" id="esoerror"></span>
                                    </div>
                                </div>

                                <!-- Code For Company Name -->

                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="form-group mb-3">
                                        <label for="s_company_name" class="form-label" style="font-size: 11px;margin-bottom: 2px;">Company Name<sup class="text-danger"></sup></label>
                                        <select class="form-control select2" id="s_company_name"  name="s_company_name">
                                            <option value="" disabled>Select Company Name</option>
                                        </select>
                                        <span class="text-danger error" id="esoerror"></span>
                                    </div>
                                </div>

                                {% now "Y-m-d" as tdate %}  
                                <!-- Get the current date in the format "Y-m-d" -->
                                <div class="col-md-2 col-sm-12 col-lg-2">
                                    <div class="form-floating mb-3">
                                        <input type="date" class="form-control" id="from_date" placeholder="Date" name="from_date" required max="{{ tdate }}" value="">
                                        <label for="date">From Date<sup class="text-danger">*</sup></label>
                                    </div>
                                </div>

                                {% now "Y-m-d" as tdate %}  
                                <!-- Get the current date in the format "Y-m-d" -->
                                <div class="col-md-2 col-sm-12 col-lg-2">
                                    <div class="form-floating mb-3">
                                        <input type="date" class="form-control" id="to_date" placeholder="Date" name="to_date" required max="{{ tdate }}" value="">
                                        <label for="date">To Date<sup class="text-danger">*</sup></label>
                                    </div>
                                </div>
                                
                                
                                <div class="d-sm-flex flex-wrap">
                                    <div class="ms-auto">
                                        <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light w-sm" id="search_records">Search</button>
                                    </div>
                                </div>   
                            </div>
                        </form>

                        <!-- {!! Form::close() !!} -->
                    </div>
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex flex-wrap">     
                           <h4 class="card-title mb-4">Bill Management</h4>
                           <div class="ms-auto">
                                <button type="button" class="btn btn-primary btn-sm waves-effect waves-light w-sm" data-bs-toggle="modal" data-bs-target="#addModal" style="margin-left: 10px;"><i class="mdi mdi-plus font-size-11"></i> Add Bill
                                </button> 
                            </div>
                        </div>

                        {% include 'common/alert.html' %}
                        
                        <div class="table-responsive">
                            <table class="table table-bordered dt-responsive nowrap w-100 table table-striped" id="datatable"> 
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 20px;">Sr.No</th>
                                        <th scope="col" style="width: 20px;">Action</th>
                                        <th scope="col" style="width: 20px;">Client Name</th>
                                        
                                
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for bl in bill_list%}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <!-- Code For Edit Button -->
                                            <a class='btn btn-outline-secondary btn-sm editU' data-bs-toggle='tooltip' data-bs-placement='top' title='Edit Question' data-id='{{bl.id}}'
                                            data-client_id='{{bl.client_id}}'
                                            data-date='{{bl.date}}'
                                            href="/billmgmt/add_bill/{{bl.id}}"><i class='far fa-edit' ></i></a>

                                            <!-- Code For Delete Button -->
                                            <button class='btn btn-outline-secondary btn-sm delI' rel='tooltip' data-bs-placement='top' title='Delete Question' data-id='{{bl.id}}'><i class='fas fa-trash-alt' ></i></button>

                                            <!-- Code For Print Button -->
                                            <a class='btn btn-outline-secondary btn-sm downloadBillPDF' href="/billmgmt/dowload_bill_pdf/{{bl.id}}" data-bs-toggle='tooltip' data-bs-placement='top' title='Download Bill PDF' data-id='{{bl.id}}'>
                                            <i class='far fa-download' ></i></a>
                                            
                                        </td>
                                        <td>{{bl.client_name}}</td>
                                        <td>{{bl.date}}</td>
                                       
                                    </tr>
                                {%endfor%}

                                </tbody>
                            </table>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<!-- Add Bill modal content -->
<div id="addModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Add Customer Bill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/billmgmt/post_bill_rec/" enctype="multipart/form-data" id="bill_mgmt_form">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="form-group mb-3">
                            <label for="client_name" class="form-label" style="font-size: 11px;margin-bottom: 2px;">Client Name<sup class="text-danger">*</sup></label>
                            <select class="form-control select2" id="client_name" required name="client_name">
                                <option value="" disabled>Select Client Name</option>
                            {%for cl in client_list%}
                                <option value="{{cl.id}}">{{cl.client_name}}</option>
                            {%endfor%}
                            
                            </select>
                            <span class="text-danger error" id="client_name_error"></span>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light" id="add_bill"><i class="bx font-size-16 align-middle me-2 add_bill"></i>Add</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

<!-- delete Modal -->


  
{% include 'common/delete_model.html' %}
{% endblock content %}  

{% block datatable_js %}
    
    <script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <script>
        $(document).ready(function(){
            $('#datatable').dataTable();     
        }); 
    </script>
{% endblock datatable_js %}
{% block page_js %}

<script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<script>

    
    $(document).ready(function(){
        var $body = $("body");
        
        ///////////////////////////// Select 2 Fields For Drop Down //////////////////////
        

        $('#client_name').select2({
            dropdownParent: $('#addModal')
        });

        ///////////////////////////////////////////////////////////////////////////////////

        // get product name from product type wise

        $('#product_type').change(function(e)
        {
            var product_type = $(this).val();      // get the question value from the question field 
            $("#product_name").empty();           // clear the product name

            $.ajax({    
                url: '/stockmgmt/get_productname/',
                type :'get',
                data : {product_type:product_type},
                async: true,
                cache: true,
                dataType: 'json',
                success: function(response) 
                {
                    console.log(response);

                    //get question wise jyotishi salla.
                    $('#product_name').append("<option value='' class='text-muted' selected disabled>"+'Select'+"</option>");
                    
                    $.each(response.product_name_list,function(index,row){

                        //get question wise jyotishi salla.
                        $('#product_name').append("<option value='"+row.id+"'>"+row.product_name+"</option>");
                                        
                    });
                    
                    // Set the flag to indicate that category change is completed
                    categoryChangeCompleted = true;
                            
                    // Trigger a custom event to signal that category change is completed
                    $(document).trigger('categoryChangeCompleted');
                
                }
            });
            
        });

        // get search product name from product type wise
        $('#s_product_type').change(function(e)
        {
            var product_type = $(this).val();      // get the question value from the question field 
            $("#s_product_name").empty();           // clear the product name

            $.ajax({    
                url: '/stockmgmt/get_productname/',
                type :'get',
                data : {product_type:product_type},
                async: true,
                cache: true,
                dataType: 'json',
                success: function(response) 
                {
                    console.log(response);

                    //get question wise jyotishi salla.
                    $('#s_product_name').append("<option value='' class='text-muted' selected disabled>"+'Select Product Name'+"</option>");
                    
                    $.each(response.product_name_list,function(index,row){

                        //get question wise jyotishi salla.
                        $('#s_product_name').append("<option value='"+row.id+"'>"+row.product_name+"</option>");
                                        
                    });
                    
                }
            });
            
        });

        // get company name from product name
        $('#product_name').change(function(e)
        {
            var product_name = $(this).val(); 
            var product_type= $('#product_type').val();  // get the question value from the question field 
            //alert(product_type);
            $("#company_name").empty();           // clear the product name

            $.ajax({    
                url: '/stockmgmt/get_companyname/',
                type :'get',
                data : {product_type:product_type, product_name:product_name},
                async: true,
                cache: true,
                dataType: 'json',
                success: function(response) 
                {
                    console.log(response);

                    //get product type & product name wise company name.
                    $('#company_name').append("<option value='' class='text-muted' selected disabled>"+'Select'+"</option>");
                    
                    $.each(response.company_name_list,function(index,row){

                        //get question wise jyotishi salla.
                        $('#company_name').append("<option value='"+row.id+"'>"+row.company_name+"</option>");
                                        
                    });
                    
                    // Set the flag to indicate that category change is completed
                    categoryChangeCompletedCompany = true;
                            
                    // Trigger a custom event to signal that category change is completed
                    $(document).trigger('categoryChangeCompletedCompany');
                
                },
                complete:function(response){
                    // For Button Loader
                    // $("#att_records").prop('disabled', false); 
                    // $("#jyo_upays").prop('disabled', false);
                    
                }
            });
            
        });
    

        // get search company name from product name
        $('#s_product_name').change(function(e)
        {
            var product_name = $(this).val(); 
            var product_type= $('#s_product_type').val();  // get the product type value 
            //alert(product_type);
            $("#s_company_name").empty();           // clear the product name

            $.ajax({    
                url: '/stockmgmt/get_companyname/',
                type :'get',
                data : {product_type:product_type, product_name:product_name},
                async: true,
                cache: true,
                dataType: 'json',
                success: function(response) 
                {
                    console.log(response);

                    //get product type & product name wise company name.
                    $('#s_company_name').append("<option value='' class='text-muted' selected disabled>"+'Select Company Name'+"</option>");
                    
                    $.each(response.company_name_list,function(index,row){

                        //get question wise jyotishi salla.
                        $('#s_company_name').append("<option value='"+row.id+"'>"+row.company_name+"</option>");
                                        
                    });
                }
            });
            
        });
        
    });


</script>

{% endblock page_js %}