<!-- delete Modal -->

<div id="delete_record_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
        <form method="post" action class="form-horizontal">
            {% csrf_token %}
          <div class="modal-header">
              <h5 class="modal-title">Confirm Record Deletion</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <strong>Do you really wants to delete the record..? </strong>
            <div class="form-group">
              <div class="col-md-4">
                <input type="hidden" name="id" class="form-control">
              </div>
            </div>
            <input type="hidden" name="_token" value="">
          </div>
          <div class="modal-footer"> 
            <button type="button" class="btn btn-secondary waves-effect btn-sm" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary text-white btn-sm"><i class="fe fe-check mr-2"></i>Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>