

{% load static %}


<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <!-- {% comment %} {{date('Y')}} © {{config('constants.PROJECT_NAME')}} {% endcomment %} -->
               2023 © Jyotishi ERP

            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    All Rights Reserved @ <a href="https://www.ideatesystemsindia.com/" target="_blank">Ideate Systems India Pvt. Ltd.</a>
                </div>
            </div>
        </div>
    </div>
</footer>