{% extends 'common/base.html' %}
{% load static %}

{% block meta %}
    <title>DMS - Dashboard</title>
{% endblock meta %}

{% block datatable_css %}
    <link rel="stylesheet" href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}">
{% endblock datatable_css %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/libs/select2/css/select2.min.css'%}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

    <style>
        .form-floating>.form-control, .form-floating>.form-select {
            height: calc(2.8rem + 1px) !important;
            padding: 1rem .75rem;
        }
        .form-floating>.textuti {
            height: calc(2.8rem + 30px) !important;
        }
        .select2
        {
            width: 100% !important;
        }
        .amsify-suggestags-list{
        z-index: 1 !important;
        width: 100% !important;
        }
        textarea,
        .textarea {
        min-height: inherit;
        height: auto;
        }
        .form-check
        {
            display: inline-block;
        }

        /** SPINNER CREATION **/

        .loader {
        position: relative;
        text-align: center;
        margin: 15px auto 35px auto;
        z-index: 9999;
        display: block;
        width: 80px;
        height: 80px;
        border: 10px solid rgba(0, 0, 0, .3);
        border-radius: 50%;
        border-top-color: #000;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
        }

        @keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
        }

        @-webkit-keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
        }
    </style>
{% endblock page_css %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item active">Vishes Upay</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex flex-wrap">     
                        <h4 class="card-title mb-4">Vishes Upay</h4>
                        <div class="ms-auto">
                                <!-- <button type="button" class="btn btn-primary btn-sm waves-effect waves-light w-sm" data-bs-toggle="modal" data-bs-target="#addModal" style="margin-left: 10px;">
                                <i class="mdi mdi-plus font-size-11"></i> Add OA
                                </button>  -->
                            </div>
                        </div>

                        {% include 'common/alert.html' %}
                        
                        <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#vishes_upay_list" role="tab">
                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                    <span class="d-none d-sm-block">Vishes Upay List</span> 
                                </a>
                            </li>
                        
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#update_vishes_upay" role="tab">
                                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                    <span class="d-none d-sm-block">ADD / Update Vishes Upay</span> 
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content p-3 text-muted">
                            <div class="tab-pane active" id="vishes_upay_list" role="tabpanel">
                                <div class="table-responsive">
                                    <table class="table table-bordered dt-responsive nowrap w-100 table table-striped" id="datatable"> 
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width: 20px;">Sr.No</th>
                                                <th scope="col" style="white-space: normal;">Vishes Upay List</th>
                                                <th scope="col" style="white-space: normal;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for vul in vishes_upay_list%}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{vul.vis_upay | safe}}</td>
                                                    <td>
                                                        <!-- Code For Edit Button -->
                                                        <a class='btn btn-outline-secondary btn-sm editU' data-bs-toggle='tooltip' data-bs-placement='top' title='Edit Vishes Upay' data-id='{{vul.id}}' data-vis_upay='{{vul.vis_upay}}'><i class='far fa-edit' ></i></a>

                                                        <!-- Code For Delete Button -->
                                                        <button class='btn btn-outline-secondary btn-sm delI' rel='tooltip' data-bs-placement='top' title='Delete Vishes Upay' data-id='{{vul.id}}'><i class='fas fa-trash-alt' ></i></button>
                                                    </td>
                                                </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
        
                            <div class="tab-pane" id="update_vishes_upay" role="tabpanel">

                                <!-- Code For Add/Update Question -->
                                <form method="post" class="row" action="/vastumgmt/post_visupay/" enctype="multipart/form-data" id="vis_upay_form">
                                    {% csrf_token %}
                                    <input type="hidden" name="edit_id" id="edit_id" value="">
                                    <div class="row">
                                        <!-- <div class="col-md-11 col-sm-12 col-lg-11">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="jyo_upay" placeholder="Enter Section Name" name="jyo_upay" required onkeyup="var start = this.selectionStart;var end = this.selectionEnd;this.value = this.value.toUpperCase();this.setSelectionRange(start, end);">
                                                <label for="jyo_upay">Jyotishi Upay<sup class="text-danger">*</sup></label>
                                                <span class="text-danger error" id="serror"></span>

                                            </div>
                                        </div>
                                         -->

                                         <div class="col-md-12 col-sm-12 col-lg-12"> 
                                            <div class="form-group mb-3">
                                                <label for="emp_remark">Vishes Upay</label>  
                                                <textarea  id="summernote" name="vis_upay"></textarea>
                                                <span class="text-danger error" id="serror"></span>
                                            
                                            </div>
                                        </div>
                                        
                                    </div> 
                                    <div class="d-sm-flex flex-wrap">
                                        <div class="ms-auto">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light" id="add_pr"><i class="bx font-size-16 align-middle me-2 add_pr"></i>Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% include 'common/delete_model.html' %}
{% endblock content %}  

{% block datatable_js %}
    
    <script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <script>
        $(document).ready(function(){
            $('#datatable').dataTable();     
        }); 
    </script>
{% endblock datatable_js %}
{% block page_js %}

<script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>

    $('#summernote').summernote({
        placeholder: '',
        tabsize: 2,
        height: 100,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });

     // From Summernote Validation
     var n =0;
    $("#vis_upay_form").submit(function(event) 
    {
        // alert('hi');
        var summernote = $('#summernote').val();
    
        n=0;    
        if( $.trim(summernote).length == 0 )
        {
            $('#serror').text('Please Enter Text.');
            event.preventDefault();
        }else{
            $('#serror').text('');
            ++n;
        }
    
    });
    
    
    // On Edit Button Update Client Information
    $(document).on("click",'.editU',function()
    {
        var id = $(this).data('id');
        if(id !=""){
            var vis_upay = $(this).data('vis_upay');

            $('.nav-tabs a[href="#update_vishes_upay"]').tab('show');

            $('#edit_id').val(id);     //Set Record id
            $('#summernote').summernote('code', vis_upay);

        }
    });

    // On Delete Button Delete Client Information
    $(document).on("click",'.delI',function()
    {
        var id = $(this).data('id');
        //$('#id').val(id);
        $('#delete_record_modal form').attr("action","/vastumgmt/vis_upaydelete/"+id+"/");
        $('#delete_record_modal').modal('show');
    });
</script>


{% endblock page_js %}